[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
snipsync = {editable = true, path = "."}
appdirs = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
build = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
